/* Style CSS Tambahan */
/* ------------------ */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dosis:wght@200;300;400;500;600;700;800&family=Great+Vibes&family=Mooli&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rouge+Script&display=swap');

/* Root / CSS Reset */
* {
    box-sizing: border-box;
}

/* Style untuk Tag HTML */
body {
    font-family: "Poppins", sans-serif;
}

/* Style untuk ukuran konten */
.full-width {
    width: 100%;
}

.full-height {
    height: 100vh;
}

/* Style untuk ukuran teks */
.fs-12px {
    font-size: 12px;
}

.fs-14px {
    font-size: 14px;
}

/* Style untuk background gambar di halaman login */
.main-img {
    background-image: url(../img/bg-image-login.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 25px;
}

/* ----------------------------------------------- */
/* Created by M. Revanza Yuzar (FE Back To School) */